/* Imported */

/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* Imported */



/* Fonts */
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.open-sans-thin {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.open-sans-semi-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* /Fonts */



/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* /Universal Selector */



/* Global HTML and Body Style */
html, body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
/* /Global HTML and Body Style */



/* Global Header Style */
header {
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0, 85%);
}
/* /Global Header Style */



/* Global Body Style */
body {
    min-height: 100vh;
    position: relative;
}
/* /Global Bdoy Style */

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.navbar {
    max-width: 1728px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-list {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-list .navbar-list-item {
    list-style: none;
}

.navbar-list-item a {
    text-decoration: none;
    border: none;
    color: white;
    padding: 1rem 2rem;
}

.navbar-list-item a:hover {
    background-color: #FF5733;
    color: white;
    transition: ease-in-out 0.2s;
}

/* /Navbar */


/* Audio Player Style*/

.audioplayer {
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 52px;
}

/* /Audio Player Style */


/* Main Section Styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./assets/images/wishlist-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* /Main Section Styles */



/* Global Section Style */
.section {
    max-width: 1728px;
    width: 100%;
    height: auto;

    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Global Section Style */



/* Hero Section Style */
.hero-section {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("./assets/images/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-button {
    padding: 1rem 2rem;

    font-size: 20px;
    font-weight: bold;

    color: white;
    background-color: #FF5733;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 4rem;
    
    cursor: pointer;
    
    transition: all 0.3s ease;
}

.hero-button:hover {
    background-color: #FF4510;
    transform: scale(1.05);
}
/* /Hero Section Style */


/* Wishlist Section Style */

.wishlist-section {
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem;
}

.wishlist-container, .wishlist-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.wishlist-title {
    font-size: 72px;
}

.wishlist-subtitle {
    font-size: 36px;
}

.wishlist-container {
    padding: 4rem;
}

.wishlist-form {
    margin: 5rem;
}

fieldset {
    border: none;
    margin: 2rem;
    width: 75%;
    text-align: start;
    height: 100%;
}

.fieldset.gift-categories {
    text-align: center;
    border: solid #111 1px;
    padding: 0 5rem 3rem 3rem;
}

.fieldset.gift-categories input {
    margin: 0px 0px 0px 0px;
}

.fieldset.gift-categories label {
    margin: 0px 20px 0px 3px;
}

legend {
    font-size: 42px;
    margin-bottom: 2rem;
}

.wishlist-label {
    padding: 0.25rem 0.5rem;
    margin: 1rem;
    width: 100%;
}

.gift-price-range {
    width: 50%;
    margin: 1rem;
}

input[type=text], input[type=url], input[type=email], input[type=number] {
    width: 100%;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    margin: 1rem;

    border: none;
    border-bottom: solid black 1px;

    background-color: transparent;

    font-size: 18px;
    font-weight: 300;
}

input[type=text]:focus, input[type=url]:focus, input[type=email]:focus, input[type=number]:focus {
    outline: none;
}

input[type=radio], input[type=checkbox] {
    padding: 0.25rem 0.5rem;
    margin: 1rem;
}

input[type=submit] {
    padding: 1rem 2rem;
    margin: 2rem 0;

    font-size: 18px;
    font-weight: bold;

    color: white;
    background-color: #FF5733;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 4rem;
    
    cursor: pointer;
    
    transition: all 0.3s ease;
}

input[type=submit]:hover {
    background-color: #FF4510;
    transform: scale(1.05);
}
/* /Wishlist Section Style */


/* About Section Style */
.about-section {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-text-container {
    padding: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about-text-container .title {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
}

.about-text-container.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.about-text-container.right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.about-image-container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-container.right{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.about-image-container.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.about-image img {
    max-height: 600px;
    height: 100%;

    border-radius: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* /About Section Style */

/* Employee Section Style */
.employees-section {
    display: flex;
    flex-direction: column;
}

.employees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employees-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Employee Card Style */
.employee-card {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
}

.employee-figure img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.employee-info {
    margin-top: 1rem;
}

.employee-name {
    font-weight: 600;
    font-size: 18px;
}

.employee-title {
    color: #888;
    font-size: 0.9rem;
}

.employee-email {
    color: #555;
    font-size: 0.9rem;
}
/* /Employee Section Style */


/* Footer Style */
.footer {
    height: 25px;
}
/* /Footer Style */


/* Styling for employee cards */